.menu {
    display: flex;
    align-items: center;
    padding-right: 1.5em;
    &__icon {
        margin-right: 1.5em;
        width: 23px;
        height: 23px;
        &:hover {
            cursor: pointer;
        }
    }
}