@import './properties';

.story-border {
  padding: 2px;
  background: linear-gradient(
    200deg,
    $gradient-one 25%,
    $gradient-two 50%,
    $gradient-three 75%,
    $gradient-four 100%
  ) !important;
  border-radius: 50%;
}

.profile-icon {
  border-radius: 50%;
  border: 2px solid $background-white;
  display: block;
  &:hover {
    cursor: pointer;
  }
  &.small {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  &.medium {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  &.big {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}
